.container {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    padding: 0 80px;
}

@media (max-width: 1280px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 819px) {
    .container {
        padding: 0 15px;
    }
}

.info {
    border: 1px solid #ffb700;
    padding: 20px;
    width: 32%;
    text-align: center;
}

@media (max-width: 1280px) {
    .info {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 819px) {
    .info {
        padding: 5px;
        font-size: 11px;
    }
}

.infoTitle {
    text-align: center;
    color: #ffb700;
    margin-bottom: 10px;
    min-height: 30px;
}

@media (max-width: 1280px) {
    .infoTitle {
        min-height: 40px;
    }
}

@media (max-width: 819px) {
    .infoTitle {
        min-height: 40px;
        margin-bottom: 0px;
    }
}

@media (max-width: 1280px) {
    .infoText {
        font-size: 13px;
    }
}

@media (max-width: 819px) {
    .infoText {
        font-size: 10px;
    }
}
