.picture {
    width: 100%;
    height: 500px;
    /* background-image: url(``); */
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    -webkit-box-shadow: 0px -14px 45px 46px rgba(34, 60, 80, 0.39) inset;
    -moz-box-shadow: 0px -14px 45px 46px rgba(34, 60, 80, 0.39) inset;
    box-shadow: 0px -14px 45px 46px rgba(117, 81, 34, 0.39) inset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1279px) {
    .picture {
        font-size: 24px;
    }
}

@media (max-width: 819px) {
    .picture {
        height: 300px;
    }
}

@media (max-width: 550px) {
    .picture {
        height: 280px;
    }
}

.picture h1 {
    color: #ffb700;
    margin-bottom: 20px;
}

@media (max-width: 1279px) {
    .picture h1 {
        font-size: 24px;
    }
}

@media (max-width: 819px) {
    .picture h1 {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .picture h1 {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.picture input {
    padding: 15px;
    font-size: 20px;
    width: 60%;
    border-radius: 100px;
    border: none;
    box-shadow: 5px 5px 15px 5px rgba(5, 5, 5, 0.362);
    outline-style: none;
    padding-left: 70px;
    position: relative;
}

@media (max-width: 1279px) {
    .picture input {
        padding: 10px;
        padding-left: 70px;
        font-size: 18px;
        width: 60%;
    }
}

@media (max-width: 819px) {
    .picture input {
        padding: 8px;
        padding-left: 60px;
        font-size: 13px;
        width: 65%;
    }
}

@media (max-width: 550px) {
    .picture input {
        padding: 7px;
        padding-left: 30px;
        font-size: 11px;
        width: 65%;
    }
}

.picture img {
    position: absolute;
    width: 65px;
    height: 35px;
    top: 54%;
    left: 20%;
}

@media (max-width: 1279px) {
    .picture img {
        width: 60px;
        height: 30px;
        top: 53%;
    }
}

@media (max-width: 819px) {
    .picture img {
        width: 48px;
        height: 23px;
        top: 55%;
        left: 17%;
    }
}

@media (max-width: 550px) {
    .picture img {
        width: 36px;
        height: 18px;
        top: 53.5%;
        left: 17%;
    }
}
