.picture {
    width: 100%;
    height: 500px;
    background-image: url(img/back_pic.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    -webkit-box-shadow: 0px -14px 45px 46px rgba(34, 60, 80, 0.39) inset;
    -moz-box-shadow: 0px -14px 45px 46px rgba(34, 60, 80, 0.39) inset;
    box-shadow: 0px -14px 45px 46px rgba(117, 81, 34, 0.39) inset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* @media (max-width: 1280px) {
    .picture h1 {
        font-size: 24px;
        left: 30% !important;
    }
} */

.picture h1 {
    color: #ffc800;
    margin-bottom: 20px;
}

.picture input {
    padding: 15px;
    font-size: 20px;
    width: 60%;
    border-radius: 100px;
    border: none;
    box-shadow: 5px 5px 15px 5px rgba(5, 5, 5, 0.362);
    outline-style: none;
    padding-left: 70px;
    position: relative;
}

.picture img {
    position: absolute;
    width: 65px;
    height: 35px;
    top: 54%;
    left: 20%;
}
