.footer {
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    margin: 20px 0;
    gap: 15px;
}

@media (max-width: 819px) {
    .icons {
        gap: 5px;
    }
}

.icon {
    font-size: 50px;
    color: #320cd7;
}

@media (max-width: 1279px) {
    .icon {
        font-size: 40px;
    }
}

@media (max-width: 819px) {
    .icon {
        font-size: 28px;
    }
}

.dno {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
