.diner_main {
  background-color: rgb(176, 176, 175);
  display: flex;
  justify-content: center;
}

.diner_review {
  box-sizing: border-box;
  padding: 5%;
}
.img {
  width: 100px;
  height: 100px;
}
